@font-face {
    font-family: 'garet';
    src: url('/benmoradev/src/fonts/Garet/Garet-Book.otf') format('opentype'),
         url('/benmoradev/src/fonts/Garet/Garet-Book.woff2') format('woff2'),
         url('/benmoradev/src/fonts/Garet/Garet-Book.woff') format('woff'),
         url('/benmoradev/src/fonts/Garet/Garet-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'garet-heavy';
    src: url('/benmoradev/src/fonts/Garet/Garet-Heavy.otf') format('opentype'),
         url('/benmoradev/src/fonts/Garet/Garet-Heavy.woff2') format('woff2'),
         url('/benmoradev/src/fonts/Garet/Garet-Heavy.woff') format('woff'),
         url('/benmoradev/src/fonts/Garet/Garet-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'jetbrainsmono';
    src: url('/benmoradev/src/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2'),
         url('/benmoradev/src/fonts/JetBrainsMono/JetBrainsMono-Medium.ttf') format('truetype');
    font-style: normal;
        
}

@font-face {
    font-family: 'jetbrainsmono';
    src: url('/benmoradev/src/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2') format('woff2'),
         url('/benmoradev/src/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.ttf') format('truetype');
    font-style: italic;
        
}



*, *::before, *::after {
    box-sizing: border-box;
    /* image-rendering: pixelated; */
}

body {
    background-image: linear-gradient(to bottom, #aa282a, #580958, #2b0224 calc(100vh - var(--navbar-height)), black calc(100vh - var(--navbar-height) + var(--height-block)), black);
    background-color: black;
    margin: 0;
}

img {
    display: block;
}

h2 {
    font-family: 'garet-heavy', sans-serif;
    font-size: 3rem;
}

:is(.navbar-menu a):hover {
    background-color: var(--color-neutral-two) !important;
}

:is(.navbar-title):hover {
    background-color: var(--color-neutral-two) !important;
}

:root {
    --color-font-one: #e5e7eb;
    --color-neutral-one: #2B2A33;
    --color-neutral-two: black;
    --color-neutral-three: #0C0C0D;
    --height-block: 120px;
    --main-content-width: 800px;
    --navbar-height: 60px;
    --font-family: "garet","Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --footer-height: 40px;

    background-color: black;
    color: var(--color-font-one);
    font-family: var(--font-family);
    font-size: 16px;
}

.about-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-content-container {
    display: flex;
    align-items: center;
    max-width: var(--main-content-width)
}

.about-image-left {
    display: flex;
    justify-content: center;
}

/* .about-image-top {
    margin-top: 130px;
} */

.about-image {
    float: right;
    margin: 0 0 1rem 1rem;
    max-width: 300px;
    height: auto;
}

/* .block {
    background: var(--color-neutral-one);
    box-shadow: 0 0 #fff0, 0 0 #fff0, 0px 50px 80px -50px #ffffff4d;
    height: var(--height-block);
    width: 100%;
} */

.active:is(.navbar-menu a) {
    background: var(--color-neutral-three);
}

.block-container {
    display: flex;
    justify-content: center;
}

.contact-container {
    background-image: url(/benmoradev/bright_stars_0C0C0D.png);
    display: flex;
    min-width: var(--main-content-width);
    justify-content: center;
}

.contact-content {
    background-color: var(--color-neutral-three);
}

.contact-link {
    color: var(--color-font-one);
    font-size: 1.5rem;
    text-decoration: none;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
}


.footer {
    background: var(--color-neutral-one);
    display: flex;
    height: --footer-height;
    justify-content: center;
    border-top: 1px solid black;
}

.landing {
    /*background-image: url(/benmoradev/src/mountain-photo.png);*/
    /*background-image: linear-gradient(to bottom, #aa282a, #580958, #2b0224);*/
    display: flex;
    justify-content: center;
    margin-top: var(--navbar-height);
}

.landing-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - var(--navbar-height));
    max-width: calc(var(--main-content-width) + 4rem);
}

.landing-content {
    display: flex;
}

.landing-text {
    margin: 0 1.5rem 0 0;
    max-width: calc(var(--main-content-width) / 2);
    
}

.landing-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5rem 0 0;
    min-width: 240px;
}

.main-wrapper {
    align-items: center;
    background-color: var(--color-neutral-three);
    /* background-image: url(/benmoradev/src/images/home-left.svg); */
    /* background-image: url(/benmoradev/background-sprite.png); */
    /* background-repeat: repeat;
    background-size: 8px; */
    display: flex;
    flex-direction: column;

}

.main-container {
    -webkit-clip-path: inset(0px -80px 0px -80px);
    clip-path: inset(0px -80px 0px -80px);
    background-color: var(--color-neutral-three);
    border-left: 1px solid var(--color-font-one);
    border-right: 1px solid var(--color-font-one);
    /* box-shadow: 0 0 #fff0, 0 0 #fff0, 0px 0px 13px 0px #ffffff4d; */
    color: var(--color-font-one);
    /* min-height: calc(100vh - var(--navbar-height) - var(--footer-height)); */
    /* padding: 8px 21rem; */
    
}

.main-content {
    margin-bottom: 8rem;
    margin-top: 8rem;
}

/* .main-content {
    padding: 0px 1rem;
    min-height: calc(100vh - var(--navbar-height));
} */

.nav-items {
    gap: .5rem;
}


.navbar {
    background: var(--color-neutral-one);
    border-bottom: 1px solid black;
    display: flex;
    gap: 1rem;
    height: var(--navbar-height);
    justify-content: space-between;
    padding: 0 1rem 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar-container {
    align-content: center;
    display: flex;
    justify-content: right;
    width: 100%;
}

.navbar-icon {
    height: 40px;
    width: 40px;
    padding: .5rem !important;
}

.navbar-menu {
    align-items: center;
    display: flex;
    padding: 0 1rem 0 0;
    gap: .5rem;
}

.navbar-menu a {
    text-decoration: none;
    border-radius: 15px;
    color: var(--color-font-one);
    padding: .5rem .75rem;
}

.navbar-menu-link {
    display: flex;
    align-items:center;
}

.navbar-title {
    align-items: center;
    border-right: 1px solid black;
    display: flex;
}

.navbar-title-content {
    display: flex;
    padding: 0 2rem;
}

.navbar-title-link {
    height: 30px;
    width: 118px
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-content-goes-here {
    display: flex;
    justify-content: center;
    
}

.projects-content-goes-here-img {
    width: 1125px;
}

.under-construction-banner {
    display: flex;
    justify-content: center;
}

.under-construction-text {
    font-style: italic;
    font-size: 16px
}

.social {
    gap: 2px;
}

.svg-icon {
    fill: var(--color-font-one)
}

.vertical-bar {
    background-color: var(--color-neutral-one);
    box-shadow: 0 0 #fff0, 0 0 #fff0, 0px 50px 80px -50px #ffffff4d;
    height: 500px;
    margin: 2rem;
    width: 4px;
}

#name {
    font-size: 3.25em;
    margin: .5rem .5rem 0 .5rem;
}

#tagline {
    font-size: 2.5em;
    line-height: 0.9;
    margin: 0 .5rem .5rem .5rem;
    padding: 4px;
    font-family: 'garet-heavy', sans-serif;
    font-weight: bold;
}

