
*, *::before, *::after {
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    background-image: linear-gradient(to bottom, #aa282a, #580958, #2b0224 calc(100vh - var(--navbar-height)), black calc(100vh - var(--navbar-height) + var(--height-block)), black);
    background-color: black;
    margin: 0;
}

img {
    display: block;
}

:root {
    --color-font-one: #e5e7eb;
    --color-neutral-one: #2B2A33;
    --height-block: 120px;
    --main-content-width: 800px;
    --navbar-height: 60px;
    --font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --footer-height: 40px;

    color: var(--color-font-one);
    font-family: var(--font-family);
    font-size: 16px;
}

.about-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.about-content-container {
    display: flex;
    align-items: center;
}

.about-image-left {
    display: flex;
    justify-content: center;
}

.about-image {
    float: right;
    margin: 0 0 1rem 1rem;
    max-width: 300px;
    height: auto;
}

.block {
    background: var(--color-neutral-one);
    box-shadow: 0 0 #fff0, 0 0 #fff0, 0px 50px 80px -50px #ffffff4d;
    height: var(--height-block);
    width: 100%;
}

.block-container {
    display: flex;
    justify-content: center;
}


.footer {
    background: var(--color-neutral-one);
    display: flex;
    height: --footer-height;
    justify-content: center;
    border-top: 1px solid black;
}

.landing {
    /*background-image: url(/benmoradev/src/mountain-photo.png);*/
    /*background-image: linear-gradient(to bottom, #aa282a, #580958, #2b0224);*/
    display: flex;
    justify-content: center;
    margin-top: var(--navbar-height);
}

.landing-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - var(--navbar-height));
    max-width: calc(var(--main-content-width) + 4rem);
}

.landing-text {
    margin: 0 1.5rem 0 0;
    max-width: calc(var(--main-content-width) / 2);
    
}

.landing-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5rem 0 0;
    min-width: 240px;
}

.main-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.main-container {
    /*-webkit-clip-path: inset(0px -50px 0px -50px);
    clip-path: inset(0px -50px 0px -50px);*/
    color: var(--color-font-one);
    max-width: calc(var(--main-content-width) + 4rem);
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
    padding: 8px 1rem;
    
}

.main-content {
    padding: 0px 1rem;
    min-height: calc(100vh - var(--navbar-height));
}

.nav-items {
    gap: .5rem;
}


.navbar {
    background: var(--color-neutral-one);
    border-bottom: 1px solid black;
    display: flex;
    gap: 1rem;
    height: var(--navbar-height);
    justify-content: space-between;
    padding: 0 1rem 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-container {
    align-content: center;
    display: flex;
    justify-content: right;
    width: 100%;
}

.navbar-icon {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.navbar-menu {
    align-items: center;
    display: flex;
    padding: 0 1rem 0 0;
    gap: .5rem;
}

.navbar-menu-link {
    display: flex;
    align-items:center;
}

.navbar-title {
    align-items: center;
    border-right: 1px solid black;
    display: flex;
}

.navbar-title-content {
    display: flex;
    padding: 0 2rem;
}

.navbar-title-link {
    height: 30px;
    width: 118px
}

.under-construction-banner {
    display: flex;
    justify-content: center;
}

.under-construction-text {
    font-style: italic;
    font-size: 16px
}

.social {
    gap: 2px;
}

.svg-icon {
    fill: var(--color-font-one)
}

.vertical-bar {
    background-color: var(--color-neutral-one);
    box-shadow: 0 0 #fff0, 0 0 #fff0, 0px 50px 80px -50px #ffffff4d;
    height: 500px;
    margin: 2rem;
    width: 4px;
}

#name {
    font-size: 3.25em;
    margin: .5rem .5rem 0 .5rem;
}

#tagline {
    font-size: 1.5em;
    margin: 0 .5rem .5rem .5rem;
    padding: 4px
}

